<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
    {% load static %}
    <link rel="icon" type="img/png" href="{% static 'kortsluiting.jpg' %}">
    <link rel="stylesheet" href="{% static 'all.css' %}">
</head>
<body>
  <nav class="navbar">
    <div class="content">
      <div class="logo">
        <a href="{% url 'home' %}"><img class="logo" src="{% static '../static/kortsluiting.jpg' %}" alt="Cant load"></a>
      </div>
      <ul class="menu-list">
        <div class="icon cancel-btn">
          <i class="fas fa-times"></i>
        </div>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'tickets' %}">Tickets</a></li>
      </ul>
      <div class="icon menu-btn">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </nav>
  <section class="tickets-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="tickets-content">
              <h1>Koop je tickets voor het aanstaande feest via deze link:</h1>
              <button>Tickets</button>
          </div>
        </div>
      </div>
  </section>
</body>
</html>
