<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tickets</title>
  {% load static %}
  <link rel="icon" type="img/png" href="{% static 'kortsluiting.jpg' %}">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <nav class="navbar">
    <div class="content">
      <div class="logo">
        <a href="{% url 'home' %}"><img class="logo" src="{% static '../static/kortsluiting.jpg' %}" alt="Cant load"></a>
      </div>
      <ul class="menu-list">
        <div class="icon cancel-btn">
          <i class="fas fa-times"></i>
        </div>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'tickets' %}">Tickets</a></li>
      </ul>
      <div class="icon menu-btn">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </nav>
  <section class="tickets-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="tickets-content">
              <h1>Als de tickets voor het aankomende feest beschikbaar zijn kan je ze kopen via deze knop:</h1>
              <a href="{% url 'ticket_error' %}"><button>Tickets</button></a>
          </div>
        </div>
      </div>
  </section>
  <script>
    const body = document.querySelector("body");
    const navbar = document.querySelector(".navbar");
    const menuBtn = document.querySelector(".menu-btn");
    const cancelBtn = document.querySelector(".cancel-btn");
    menuBtn.onclick = ()=>{
      navbar.classList.add("show");
      menuBtn.classList.add("hide");
      body.classList.add("disabled");
    }
    cancelBtn.onclick = ()=>{
      body.classList.remove("disabled");
      navbar.classList.remove("show");
      menuBtn.classList.remove("hide");
    }
    window.onscroll = ()=>{
      this.scrollY > 20 ? navbar.classList.add("sticky") : navbar.classList.remove("sticky");
    }
  </script>
</body>
</html>
